page-dashboard-dispositivo {
    .label-content{
        position: stacked;
    }
    agm-map {
        position: absolute;
        height: 100vh;
        top: -44px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -10
    }

    .item-M p {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #8e9093;
        margin-top: 12px;
        margin-left: 14px;
    }
}
