<!--

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button (click)="back()" ion-button icon-left clear>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <div class="icon-section">
                <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
            </div>
        </ion-buttons>
        <ion-title>Comunicazione</ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="whichPage">
        <ion-segment-button value="Comunicazione" checked (ionSelect)="segmentComunicazioneClicked($event)">
            <ion-icon name="chatboxes"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Files" checked (ionSelect)="segmentFilesClicked($event)">
            <ion-icon name="document"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Prescrizioni" (ionSelect)="segmentPrescrizioniClicked($event)">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <div *ngIf="selectedComunicazione" [ngSwitch]="whichPage">
        <ion-list *ngSwitchCase="'Comunicazione'">
            <ion-item color="primary-lighter" class="ion-section-title">
                <ion-label>Comunicazione</ion-label>
            </ion-item>
            <ion-list-header color="light">
                <h3>{{selectedComunicazione.pro_titolo}}</h3>
            </ion-list-header>
            <ion-item>
                <ion-label stacked>Codice sito</ion-label>
                <ion-note item-end>
                    <p>{{procedimento.az_codice_interno}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>sito</ion-label>
                <ion-note item-end>
                    <p>{{procedimento.az_ragione_sociale}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Titolo procedimento</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.pro_titolo}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Data Comunicazione</ion-label>
                <ion-note item-end *ngIf="!hideDate(selectedComunicazione.com_data)">
                    <p>{{selectedComunicazione.com_data | date:'dd/MM/yyyy'}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Tipologia</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.tab_tipo_comunicazione_desc}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Titolo</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_titolo}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Descrizione</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_descrizione}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Mittente</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_mittente}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Destinatario</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_destinatario}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Ingresso / Uscita</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_in_out}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Verso</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.tab_verso_comunicazione_desc}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Fase procedimento</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.tab_fase_procedimento_desc}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Tipo documento</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.tab_tipo_documento_desc}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Protocollo data</ion-label>
                <ion-note item-end *ngIf="!hideDate(selectedComunicazione.com_protocollo_data)">
                    <p>{{selectedComunicazione.com_protocollo_data | date:'dd/MM/yyyy'}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Protocollo codice</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_protocollo_cod}}</p>
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Codice interno</ion-label>
                <ion-note item-end>
                    <p>{{selectedComunicazione.com_codice_interno}}</p>
                </ion-note>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Files'">
            <ion-item color="primary-lighter" class="ion-section-title">
                <ion-label>Files</ion-label>
            </ion-item>
            <ion-item *ngFor="let f of selectedComunicazione.com_files" text-wrap>
                <ion-thumbnail item-start>
                    <img src="/assets/imgs/ios-doc-icon.png">
                </ion-thumbnail>
                <h3>{{f.cof_file}}</h3>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Prescrizioni'">
            <ion-item color="primary-lighter" class="ion-section-title">
                <ion-label>Prescrizioni</ion-label>
            </ion-item>
            <ion-list>
                <div *ngFor="let prescrizione of selectedComunicazione.prescrizioni"
                    (click)="goToDetails($event, prescrizione)">
                    <ion-list-header color="light">
                        <ion-label stacked>Descrizione</ion-label>
                        <ion-note item-end>
                            <p>{{prescrizione.pre_descrizione}}</p>
                        </ion-note>
                    </ion-list-header>
                    <ion-item>
                        <ion-label stacked>Tipologia</ion-label>
                        <ion-note item-end>
                            <p>{{prescrizione.tab_tipo_prescrizione_desc}}</p>
                        </ion-note>
                    </ion-item>

                    <ion-item>
                        <ion-label stacked>Scadenza</ion-label>
                        <ion-note item-end>
                            <p>{{prescrizione.pre_data_scadenza}}</p>
                        </ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>Stato</ion-label>
                        <ion-note item-end>
                            <ion-icon name="alert" color="danger"></ion-icon>
                            <!--<ion-badge>{{prescrizione.pre_stato}}</ion-badge>-->
                        </ion-note>
                    </ion-item>
                </div>
            </ion-list>
        </ion-list>
    </div>

</ion-content>